@use './button';

$progress-height: 5px;

.bespoke-marp-note,
.bespoke-marp-osc,
.bespoke-progress-parent {
  display: none;
  transition: none;
}

@media screen {
  html,
  body {
    height: 100%;
    margin: 0;
  }

  body {
    background: #000;
    overflow: hidden;
  }

  body.loading {
    visibility: hidden;
  }

  // Common visibility control for slides
  svg.bespoke-marp-slide {
    content-visibility: hidden;
    z-index: -1;

    /* Fallback */
    pointer-events: none;
    opacity: 0;

    &.bespoke-marp-active {
      content-visibility: visible;
      z-index: 0;

      /* Fallback */
      pointer-events: auto;
      opacity: 1;

      &.bespoke-marp-active-ready {
        * {
          /* Reset animation: "none" keyword does not reset animation in Firefox */
          animation-name: __bespoke_marp__ !important;
        }
      }
    }

    @supports not (content-visibility: hidden) {
      &[data-bespoke-marp-load='hideable'] {
        display: none;

        &.bespoke-marp-active {
          display: block;
        }
      }
    }
  }

  [data-bespoke-marp-fragment='inactive'] {
    visibility: hidden;
  }

  // Normal view
  body[data-bespoke-view=''],
  body[data-bespoke-view='next'] {
    .bespoke-marp-parent {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      > .bespoke-marp-osc {
        background: rgba(#000, 0.65);
        border-radius: 7px;
        bottom: 50px;
        color: #fff;
        contain: paint;
        display: block;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
        left: 50%;
        line-height: 0;
        opacity: 1;
        padding: 12px;
        position: absolute;
        touch-action: manipulation;
        transform: translateX(-50%);
        transition: opacity 0.2s linear;
        user-select: none;
        white-space: nowrap;
        z-index: 1;

        /* Hack for Chrome to show OSC overlay onto video correctly */
        will-change: transform;

        > * {
          margin-left: 6px;

          &:first-child {
            margin-left: 0;
          }
        }

        > span {
          opacity: 0.8;

          &[data-bespoke-marp-osc='page'] {
            display: inline-block;
            min-width: 140px;
            text-align: center;
          }
        }

        > button {
          @extend %button;

          &[data-bespoke-marp-osc='prev'] {
            @include button.button-icon(prev);
          }

          &[data-bespoke-marp-osc='next'] {
            @include button.button-icon(next);
          }

          &[data-bespoke-marp-osc='fullscreen'] {
            @include button.button-icon(fullscreen);
          }

          &[data-bespoke-marp-osc='presenter'] {
            @include button.button-icon(presenter);
          }
        }
      }

      &.bespoke-marp-inactive {
        cursor: none;

        > .bespoke-marp-osc {
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    svg.bespoke-marp-slide {
      height: 100%;
      left: 0;
      position: fixed; // HACK ostn: absolue here *crashes* Safari iOS!
      top: 0;
      width: 100%;
    }
  }

  // Progress bar (Only for normal view)
  body[data-bespoke-view=''] {
    .bespoke-progress-parent {
      background: #222;
      display: flex;
      height: $progress-height;
      width: 100%;

      & + .bespoke-marp-parent {
        top: $progress-height;
      }

      .bespoke-progress-bar {
        flex: 0 0 0;
        background: #0288d1;
        transition: flex-basis 0.2s cubic-bezier(0, 1, 1, 1);
      }
    }
  }

  // Next view
  body[data-bespoke-view='next'] {
    background: transparent;
  }

  // Presenter view
  body[data-bespoke-view='presenter'] {
    $text-color: #eee;

    background: #161616;

    .bespoke-marp-presenter-container {
      font-family: Helvetica, Arial, sans-serif;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      // Grid layout for presenter view
      display: grid;
      grid-template:
        'current dragbar next' minmax(140px, 1fr)
        'current dragbar note' 2fr
        'info    dragbar note' 3em;
      grid-template-columns:
        minmax(3px, var(--bespoke-marp-presenter-split-ratio, 66%))
        0 minmax(3px, 1fr);

      .bespoke-marp-parent {
        grid-area: current;
        position: relative;
        overflow: hidden;

        svg.bespoke-marp-slide {
          height: calc(100% - 40px);
          left: 20px;
          position: absolute;
          pointer-events: none;
          top: 20px;
          user-select: none;
          width: calc(100% - 40px);

          &.bespoke-marp-active {
            filter: drop-shadow(0 3px 10px rgba(#000, 0.5));
          }
        }
      }

      // Dragbar
      .bespoke-marp-presenter-dragbar-container {
        grid-area: dragbar;
        background: #0288d1; // Marp brand color
        cursor: col-resize;
        width: 6px;
        margin-left: -3px;
        position: relative;
        z-index: 10;
        opacity: 0;
        transition: opacity 0.4s linear 0.1s;

        &:hover {
          opacity: 1;
        }

        &.active {
          opacity: 1;
          transition-delay: 0s;
        }
      }

      // Next slide view
      .bespoke-marp-presenter-next-container {
        background: #222;
        cursor: pointer;
        display: none;
        grid-area: next;
        overflow: hidden;
        position: relative;

        &.active {
          display: block;
        }

        iframe.bespoke-marp-presenter-next {
          background: transparent;
          border: 0;
          display: block;
          filter: drop-shadow(0 3px 10px rgba(#000, 0.5));
          height: calc(100% - 40px);
          left: 20px;
          position: absolute;
          pointer-events: none;
          user-select: none;
          top: 20px;
          width: calc(100% - 40px);
        }
      }

      // Presenter note
      .bespoke-marp-presenter-note-container {
        background: #222;
        color: $text-color;
        position: relative;
        grid-area: note;
        z-index: 1;

        button {
          @extend %button;
          @include button.button-size(1.5em);

          &.bespoke-marp-presenter-note-bigger {
            @extend %button-plus;
          }

          &.bespoke-marp-presenter-note-smaller {
            @extend %button-minus;
          }
        }

        .bespoke-marp-presenter-note-wrapper {
          bottom: 0;
          display: block;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }

        .bespoke-marp-presenter-note-buttons {
          background: rgba(#000, 0.65);
          border-radius: 4px;
          bottom: 0;
          display: flex;
          gap: 4px;
          margin: 12px;
          opacity: 0;
          padding: 6px;
          pointer-events: none;
          position: absolute;
          right: 0;
          transition: opacity 0.2s linear;
        }

        &:hover .bespoke-marp-presenter-note-buttons,
        .bespoke-marp-presenter-note-buttons:focus-within,
        .bespoke-marp-presenter-note-wrapper:focus-within
          + .bespoke-marp-presenter-note-buttons {
          opacity: 1;
          pointer-events: auto;
        }

        .bespoke-marp-note {
          margin: 20px;
          width: calc(100% - 40px);
          height: calc(100% - 40px);
          box-sizing: border-box;
          font-size: calc(1.1em * var(--bespoke-marp-note-font-scale, 1));
          overflow: auto;
          padding-right: 3px;
          white-space: pre-wrap;
          word-wrap: break-word;

          // Scrollbar (Firefox)
          scrollbar-width: thin;
          scrollbar-color: rgba($text-color, 0.5) transparent;

          // Scrollbar (Chrome)
          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background: rgba($text-color, 0.5);
            border-radius: 6px;
          }

          &:empty {
            pointer-events: none;
          }

          &.active {
            display: block;
          }

          p {
            &:first-child {
              margin-top: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      // Informations
      .bespoke-marp-presenter-info-container {
        align-items: center;
        box-sizing: border-box;
        color: $text-color;
        display: flex;
        flex-wrap: nowrap;
        grid-area: info;
        justify-content: center;
        overflow: hidden;
        padding: 0 10px;

        %info-element {
          display: block;
          box-sizing: border-box;
          padding: 0 10px;
          white-space: nowrap;
          width: 100%;
        }

        button {
          @extend %button;
          @include button.button-size(1.5em);

          &.bespoke-marp-presenter-info-page-prev {
            @extend %button-prev;
          }

          &.bespoke-marp-presenter-info-page-next {
            @extend %button-next;
          }
        }

        .bespoke-marp-presenter-info-page {
          @extend %info-element;

          order: 2;
          text-align: center;

          .bespoke-marp-presenter-info-page-text {
            display: inline-block;
            min-width: 120px;
            text-align: center;
          }
        }

        .bespoke-marp-presenter-info-time {
          @extend %info-element;

          color: #999;
          order: 1;
          text-align: left;
        }

        .bespoke-marp-presenter-info-timer {
          @extend %info-element;

          color: #999;
          order: 3;
          text-align: right;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .bespoke-marp-mobile-root {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .bespoke-marp-mobile-headers {
      overflow-x: hidden;
      overflow-y: hidden;
      flex: 1;
      display: flex;
      width: 100%;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
      z-index: 2;

      section {
        width: 100vw;
        height: 100%;
        flex:0 0 100vw;

        h1 {
          font-size: 28px;
          margin: 0;
          padding: 18px;

          &::before {
            content: '   ';
            width: 40px;
            float: right;
            height: 5px;
          }
        }


        img {
          object-fit: contain;
          width: 100%;
          height: calc(100% - (26px + 36px));
        }
      }
    }

    .bespoke-marp-mobile-spacer {
      flex: 1;
      min-height: 50%;
    }

    .bespoke-marp-mobile-pages {
      overflow-y: hidden;
      scroll-snap-coordinate: 0 0;
      scroll-snap-points-x: repeat(100%);
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: transparent;
      }

      flex: 1;
      display: flex;
      width: 100%;
      -webkit-overflow-scrolling: touch;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 1;

      section {
        width: 100%;
        height: 100%;
        flex:0 0 100vw;
        align-items: center;
        scroll-snap-align: start;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        text-indent: auto;

        .bespoke-marp-mobile-page-content {
          padding: 16px 0 48px;
          flex: 1;
          display: flex;
          justify-content: center;
        }

        p { // stylelint-disable-line
          text-indent: revert; // Disable the overhang on p's
        }

        li {
          text-indent: revert; // Disable the overhang on li's
        }
      }

      section.bespoke-marp-mobile-page {
        padding: 16px 24px;
      }
    }
  }

  .bespoke-marp-mobile-scroller {
    user-select: none;
    display: none;
    position: absolute;
    width: 100%;
    height: 64px;
    bottom: 0;
    z-index: 5;

    .tip {
      position: absolute;
      width: 64px;
      height: 32px;
      background-color: white;
      border-radius: 4px;
      border: 1px solid #aaa;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 6;
      top: -28px;
      padding-top: 2px;

      .label {
        font-size: 16px;
      }
    }

    .bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;

      .slider {
        width: calc(100% - 96px);
        background-color: rgba(0, 0, 0, 20%);
        height: 2px;
      }

      .handle {
        position: absolute;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 24px;
        width: 24px;
        top: calc(50% - 24px / 2);

        .box {
          width: 4px;
          height: 100%;
          background-color: #444;
          border-radius: 4px;
        }
      }
    }
  }

  .bespoke-marp-mobile-nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    align-items: flex-end;
    z-index: 7;

    &.toggled {
      background-color: #fff;
      border-left: 1px solid #333;
    }

    .header {
      display: flex;
      border: 0;
      flex: 0 0 auto;

      .toggle {
        pointer-events: auto;
        min-height: 32px;
        margin: 20px;
        background: transparent;
        color: black;
        width: 32px;
        appearance: none;
        outline-style: none;
        font-size: 24px;
        border: 0;
      }
    }

    .chapters {
      width: 100%;
      pointer-events: auto;
      flex: 10 1 auto;
      display: none;
      flex-direction: column;
      font-size: 16px;
      overflow-y: auto;

      button { // stylelint-disable-line
        height: 48px;
        padding: 24px 18px;
        background: transparent;
        color: black;
        appearance: none;
        outline-style: none;
        font-size: 16px;
        border: 0;
        text-align: left;
        vertical-align: middle;
        pointer-events: auto;
        display: flex;
        align-items: center
      }

      button.active {
        color: white;
        background-color: black;
        font-weight: bold;
      }
    }
  }
}

@media print {
  .bespoke-marp-presenter-next-container,
  .bespoke-marp-presenter-note-container,
  .bespoke-marp-presenter-info-container {
    display: none;
  }
}
